* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root  {
    --White: #FFFFFE;
    --Light-Grey-1: #EFF0F3;
    --Light-Grey-2: #E4E5E9;
    --Grey: #C0C0C0;
    --Dark-Grey: #9A9494;
    --Black: #2B2C34;
    --Blue: #6246EA;
    --Dark-Blue: #001858;
}
body {
    width: 100vw;
    height: auto;
    overflow: hidden;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:  var(--Black);
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    background: var(--Light-Grey-1);
    scroll-behavior: smooth;
    overflow-x: hidden ;
    scrollbar-width: none;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
h1, h2, h4 {
    font-weight: 700;
    color: var(--Black);
}
p {
    font-size: 20px;
    font-weight: 400;
}
a {
    text-decoration: none;
    cursor: pointer;
    /*color: var(--Black);*/
}
a:active h4:active{
    color: var(--Blue);
}
nav, header, section#category, aside , main, footer {
    width: 100%;
    padding: 0 94px;
}
main {
    background: var(--White);
}
main>div>section {
    height: 490px;
}
/*------------------ Navigation ---------------*/
.navigation {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
nav {
    background: var(--Light-Grey-1);
    min-height: 86px;
    flex-wrap: wrap;
}
h1 {
    font-size: 64px;
    width: 617px;
}
.logo>h2 {
    color: var(--Dark-Blue);
    font-weight: 600;
}
h2 {
    font-size: 36px;
}
span {
    color: var(--Blue);
    font-size: 18px;
    font-weight: 700;
}
ul {
    justify-content: space-evenly;
    gap: 50px;
}
h3 {
    font-size: 24px;
}
h4, .btn_email {
    font-size: 20px;
}
.search>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn_buy {
    display: flex;
    padding: 10px 17px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Blue);
    color:var(--White);
    font-size: 18px;
    font-weight: 700;
    border: none;
}
/*------------------ Header -------------------*/
header {
    min-height: 814px;
}
header>section#home {
    padding-top: 164px;
    flex-wrap: wrap;
}
header>section>div>p {
    border-left: 3px solid #2B2C34;
    padding-left: 9px ;
    width: 662px;
    color: var(--Dark-Grey);
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}
header>section>div>.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
form.button-form {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
input[type="email"] {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 21px 200px 21px 25px;
    border: none;
    border-radius: 8px;
    background: var(--White, #FFFFFE);
    /*color: var(--Grey, #C0C0C0);*/

    /* 20 px - Paragraph 1 */
    font-size: 20px;
    font-weight: 400;
}
input[type="email"]::placeholder {
    color: var(--Grey, #C0C0C0);
    /* 20 px - Paragraph 1 */
    font-size: 20px;
    font-weight: 400;
}
.btn_email {
    border-radius: 8px;
    border: none;
    background: var(--Blue, #6246EA);
    height: 67px;
    padding: 20px 23px 19px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White, #FFFFFE);
    cursor: pointer;
}
/*------------------- Category -------------------*/
section#category {
    min-height: 500px;
    background: #EFF0F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
section#category>ul , main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 2px 0 3px 0;
    color: var(--Black);
}
section#category>ul>li , main ul>li {
        text-transform: capitalize;
}
section#category>ul>li:last-child, main ul>li:last-child {
    display: inline-flex;
    justify-content: center;
    align-items: end;
    gap: 9px;
}
section#category .category-cards {
    /*max-width: 1252px;*/
    margin: 0 auto;
    /*height: 280px;*/
    gap: 37px;
    display: flex;
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));*/
    /*grid-gap: 30px;*/
    /*flex-wrap: wrap;*/
}
.category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    color: var(--Black);
    width: 220px;
    height: 280px;
    /*height: 100%;*/
    border-radius: 8px;
    background: var(--White, #FFFFFE);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.category-card>div {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: var(--White, #FFFFFE);
    text-align: center;
    align-content: center;
}
.category-card:hover {
    border-radius: 8px;
    background: var(--Blue, #6246EA);
    color: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}
    /*------------------- Aside ----------------------*/
aside {
    display: flex;
    padding: 58px 0;
    /*padding: 58px 372px 33px;*/
    flex-direction: column;
    /*align-items: flex-start;*/
    /*gap: 10px;*/
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    align-items: center;
    gap: 30px;
    min-height: 453px;
}
aside p {
    color: var(--Grey, #C0C0C0);
    text-align: center;

    /* 20 px - Paragraph 1 */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
aside>div {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*gap: 30px;*/
    gap: 10px;
}
/*-------------------- Footer --------------------*/
footer {
    min-height: 435px;
    background: var(--Light-Grey-2);
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 160px;
    padding: 70px 0 50px 0;
    min-height: 365px;
}
footer h4 {
    padding-bottom: 25px;
}
.footer-blog , footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
footer p, li {
    color: var(--Black, #2B2C34);
    font-size: 18px;
}
.footer-copyright p {
    padding: 26px 0;
    border-top: 1px solid #C0C0C0;
    font-size: 14px;
}
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.monogram-icon {
    width: 30px;
    height: 30px;
}
.footer-info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 95px;
}
.footer-info-card h4 {
        text-transform: uppercase;
}